In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cs.csv')
df

,Datetime,STEP,U0_A,U0_B,U1_A,U1_B,U2_A,U2_B,U3_A,U3_B,...,U7_A,U7_B,U8_A,U8_B,U9_A,U9_B,U10_A,U10_B,U11_A,U11_B
0,2021-07-10 오전 12:00:46,1,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.7,28.9,28.0
1,2021-07-10 오전 12:03:37,2,29.2,28.9,22.8,22.8,22.8,22.8,26.6,25.8,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
2,2021-07-10 오전 12:05:40,3,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
3,2021-07-10 오전 12:07:30,4,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,...,27.6,26.6,30.1,28.1,30.0,28.1,29.9,27.8,29.0,28.0
4,2021-07-10 오전 12:09:31,5,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,...,27.7,26.6,30.1,28.2,30.0,28.1,29.9,27.8,29.0,27.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719,2021-07-13 오후 11:49:25,2720,29.6,29.1,NaN,NaN,NaN,NaN,26.6,25.8,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2720,2021-07-13 오후 11:51:18,2721,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,...,27.6,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2721,2021-07-13 오후 11:53:25,2722,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2722,2021-07-13 오후 11:56:24,2723,29.6,29.1,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2723,2021-07-13 오후 11:58:31,2724,29.5,29.0,NaN,NaN,NaN,NaN,NaN,NaN,...,27.6,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop(columns=['STEP'], inplace=True)
df

,Datetime,U0_A,U0_B,U1_A,U1_B,U2_A,U2_B,U3_A,U3_B,U4_A,...,U7_A,U7_B,U8_A,U8_B,U9_A,U9_B,U10_A,U10_B,U11_A,U11_B
0,2021-07-10 오전 12:00:46,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.7,28.9,28.0
1,2021-07-10 오전 12:03:37,29.2,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
2,2021-07-10 오전 12:05:40,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
3,2021-07-10 오전 12:07:30,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,...,27.6,26.6,30.1,28.1,30.0,28.1,29.9,27.8,29.0,28.0
4,2021-07-10 오전 12:09:31,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,...,27.7,26.6,30.1,28.2,30.0,28.1,29.9,27.8,29.0,27.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719,2021-07-13 오후 11:49:25,29.6,29.1,NaN,NaN,NaN,NaN,26.6,25.8,26.1,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2720,2021-07-13 오후 11:51:18,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,26.1,...,27.6,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2721,2021-07-13 오후 11:53:25,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,26.1,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2722,2021-07-13 오후 11:56:24,29.6,29.1,NaN,NaN,NaN,NaN,NaN,NaN,26.1,...,27.7,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2723,2021-07-13 오후 11:58:31,29.5,29.0,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,27.6,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df2 = df.set_index('Datetime').copy()
df2

,U0_A,U0_B,U1_A,U1_B,U2_A,U2_B,U3_A,U3_B,U4_A,U4_B,...,U7_A,U7_B,U8_A,U8_B,U9_A,U9_B,U10_A,U10_B,U11_A,U11_B
Datetime,,,,,,,,,,,,,,,,,,,,,
2021-07-10 오전 12:00:46,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,25.5,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.7,28.9,28.0
2021-07-10 오전 12:03:37,29.2,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,25.5,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
2021-07-10 오전 12:05:40,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,25.5,...,27.7,26.6,30.1,28.2,29.9,28.1,29.9,27.8,28.9,27.9
2021-07-10 오전 12:07:30,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,25.5,...,27.6,26.6,30.1,28.1,30.0,28.1,29.9,27.8,29.0,28.0
2021-07-10 오전 12:09:31,29.3,28.9,22.8,22.8,22.8,22.8,26.6,25.8,26.0,25.5,...,27.7,26.6,30.1,28.2,30.0,28.1,29.9,27.8,29.0,27.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-13 오후 11:49:25,29.6,29.1,NaN,NaN,NaN,NaN,26.6,25.8,26.1,25.6,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2021-07-13 오후 11:51:18,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,26.1,25.6,...,27.6,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2021-07-13 오후 11:53:25,29.6,29.1,NaN,NaN,NaN,NaN,26.7,25.8,26.1,25.6,...,27.7,26.6,NaN,NaN,NaN,NaN,29.9,27.7,NaN,NaN
2021-07-13 오후 11:56:24,29.6,29.1,NaN,NaN,NaN,NaN,NaN,NaN,26.1,25.6,...,27.7,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-13 오후 11:58:31,29.5,29.0,NaN,NaN,NaN,NaN,NaN,NaN,26.0,25.6,...,27.6,26.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2 = df2.stack(level=-1).reset_index().copy()
df2

                     Datetime level_1     0
0      2021-07-10 오전 12:00:46    U0_A  29.3
1      2021-07-10 오전 12:00:46    U0_B  28.9
2      2021-07-10 오전 12:00:46    U1_A  22.8
3      2021-07-10 오전 12:00:46    U1_B  22.8
4      2021-07-10 오전 12:00:46    U2_A  22.8
...                       ...     ...   ...
65223  2021-07-13 오후 11:58:31    U0_B  29.0
65224  2021-07-13 오후 11:58:31    U4_A  26.0
65225  2021-07-13 오후 11:58:31    U4_B  25.6
65226  2021-07-13 오후 11:58:31    U7_A  27.6
65227  2021-07-13 오후 11:58:31    U7_B  26.6

[65228 rows x 3 columns]

In [7]:
df2.rename(columns={"level_1": "division", 0: "val"}, inplace=True)
df2

                     Datetime division   val
0      2021-07-10 오전 12:00:46     U0_A  29.3
1      2021-07-10 오전 12:00:46     U0_B  28.9
2      2021-07-10 오전 12:00:46     U1_A  22.8
3      2021-07-10 오전 12:00:46     U1_B  22.8
4      2021-07-10 오전 12:00:46     U2_A  22.8
...                       ...      ...   ...
65223  2021-07-13 오후 11:58:31     U0_B  29.0
65224  2021-07-13 오후 11:58:31     U4_A  26.0
65225  2021-07-13 오후 11:58:31     U4_B  25.6
65226  2021-07-13 오후 11:58:31     U7_A  27.6
65227  2021-07-13 오후 11:58:31     U7_B  26.6

[65228 rows x 3 columns]

In [8]:
df2.to_csv('cs_stack.csv', index=False)